<p id="notice"><%= notice %></p>
<wrapper>
<center>
<h1>Where should we go to eat tonight?</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @resturants.each do |resturant| %>
      <tr>
        <td><%= resturant.title %></td>
        <td><%= resturant.comment %></td>
        <td><%= link_to 'Edit', edit_resturant_path(resturant) %></td>
        <td><%= link_to 'Delete', resturant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Home', welcome_index_path %> | <%= link_to 'Add Resturant', new_resturant_path %> | <%= link_to 'Maybe we should cook instead.', cooked_meals_path %>
</center>
</wrapper>