<%= form_for(cooked_meal) do |f| %>
  <% if cooked_meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cooked_meal.errors.count, "error") %> prohibited this cooked_meal from being saved:</h2>

      <ul>
      <% cooked_meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %>
    <%= f.text_field :Name %>
  </div>

  <div class="field">
    <%= f.label :Sides %>
    <%= f.text_field :Recipe %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
