<p id="notice"><%= notice %></p>

<h1>What should we cook for dinner tonight?</h1>

<table>
  <thead>
    <tr>
      <th>Main Dish</th>
      <th>Sides</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cooked_meals.each do |cooked_meal| %>
      <tr>
        <td><%= cooked_meal.Name %></td>
        <td><%= cooked_meal.Recipe %></td>
        <td><%= link_to 'Show', cooked_meal %></td>
        <td><%= link_to 'Edit', edit_cooked_meal_path(cooked_meal) %></td>
        <td><%= link_to 'Delete', cooked_meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Home Cooked Meal', new_cooked_meal_path %> <br><br>
<%= link_to 'Home', welcome_index_path %> | <%= link_to 'Lets go out to eat instead', resturants_path %>
